<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Main Page</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <form method="POST" action="/auth/register">
    <img width="100" height="100" src="/img/boy.png" alt="" />
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" />
    <label for="name-input">Email:</label>
    <input type="email" name="email" id="email-input" />
    <label for="name-input">Password:</label>
    <input type="password" name="password" id="password-input" />
    <input type="submit" value="Register" />
  </form>
</body>

</html>